.container-inicial
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: rgb(177, 175, 175);
    justify-content: center;
    align-items: center;
}

.box-form-login
{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 5px;
    height: 55%;
    width: 20%;
}

.header-login
{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 15px;
    margin-top: 30px;
}
.header-login h3
{
    font-weight: 300;
}

.pic
{
    position: absolute;
    top: 225px;
}

.body-login
{
    padding: 20px;
}

.espaco-btns
{
    display: flex;
    justify-content: flex-end;
}

.links-assoc
{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.links-assoc h5
{
    font-weight: 300;
}

.avisos
{
    display: flex;
    width: 25%;
    height: 80px;
    justify-self: flex-start;
    margin-bottom: 45px;
    margin-left: 15px;
}

.alert
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


/*AREA ADMINISTRAÇÃO*/

.container-conteudo-admin
{
    display: flex;
    width: 100%;
    height: 100vh;
}

.side-navs
{
    width: 18%;
    background: #2C3E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-da-nav
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    border-bottom: 1px solid whitesmoke;
}

.header-da-nav h5
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: whitesmoke;
}

.body-da-nav
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.links-das-nav
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

.links-das-nav ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}
.links-das-nav ul li
{
    height: 75%;
}
.links-das-nav ul li a
{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin: 0;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    height: 100%;
}
.links-das-nav ul li a i::before
{
    margin-right: 10px;
}
.links-das-nav ul li a:hover
{
    background-color: turquoise;
    color: white;
    text-decoration: none;
    background: #457fca;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.conteudos
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 82%;
}

.card-listagem
{
    display: flex;
    width: 50%;
    height: 50%;
}

table
{
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
